   css样式
   .w-number {
	padding: 0 24px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select: none;
	line-height: normal;
}

.w-number a {
	color: #222;
}

.search-num {
	font-size: 14px;
	text-align: center;
	width: 45px;
	border: 1px solid #e0e0e0;
	height: 22px;
	padding: 2px 4px;
	outline: none;
}

.w-number-btn {
	font-size: 18px;
	width: 26px;
	height: 26px;
	line-height: 24px;
	text-decoration: none;
	position: absolute;
	right: 0;
	text-align: center;
	overflow: hidden;
	background: #F5F5F5;
	color: #9e9e9e;
	border: 1px solid #e0e0e0;
}

.search-plus {
	right: 0;
	top: 0;
}

.search-less {
	left: 0;
	top: 0;
}
   
   
  
